<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bookflix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">BOOKFLIX</div>
        </nav>

    <header class="hero">
        <h1>Libro Destacado del Mes</h1>
        <button class="btn-play">Leer ahora</button>
    </header>

    <div class="category-row">
        <h3>Recomendados para ti (IA)</h3>
        <div class="book-carousel">
            {% for book in rec_books %}
            <a href="/book/{{ book.id }}" class="book-card">
                <img src="{{ book.cover_url }}" alt="{{ book.title }}">
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="category-row">
        <h3>Ciencia Ficción</h3>
        <div class="book-carousel">
            {% for book in scifi %}
            <a href="/book/{{ book.id }}" class="book-card">
                <img src="{{ book.cover_url }}" alt="{{ book.title }}">
            </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>